{% extends "layout.html" %}

{% block title %}
    Add Budget
{% endblock %}

{% block main %}
    
    <h3 id="head">Add to Budget</h3>
    
    <div class="container">
        <form action="/add" method="post">
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="category">Category</label>
                </div>
                <div class="col-75">
                    <input id="trans-input" type="text" name="category" placeholder="Category" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="amount">Amount</label>
                </div>
                <div class="col-75">
                    <input id="trans-input" type="text" name="amount" placeholder="Budgeted Amount" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="center">
                    <button id="trans-button" type="submit" class="btn btn-primary">Add</button> 
                </div>
            </div> 
        </form>
    </div>
    
{% endblock %}