{% extends "layout.html" %}

{% block title %}
    Add Transaction
{% endblock %}

{% block main %}

    <h3 id="head">Add a Transaction</h3>

    <div class="container">
        <form action="/add-transaction" method="post">
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="date">Select Month</label>
                </div>
                <div class="col-75">
                    <input id="trans-input" type="month" name="date"
                        min="2022-01" value="2022-01">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="category">Category</label>
                </div>
                <div class="col-75">
                    <select id="trans-select" name="category">
                        <option value="None">Select</option>
                        {% for item in categories %}
                        <option >{{ item.bill }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="amount">Amount</label>
                </div>
                <div class="col-75">
                    <input id="trans-input" type="text" name="amount" placeholder="Amount" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label id="trans-label" for="comment">Comment</label>
                </div>
                <div class="col-75">
                    <input id="trans-input" type="test" name="comment" placeholder="Comment" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="center">
                    <button id="trans-button" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>     
        </form>
    </div>
{% endblock %}